<div class="row" style="width:73rem; border-left:0px">
  <div class="center">
    <div class="card">    
      <div class="card-content">
        <p id="notice"><%= notice %></p>

        <h3>Mentees</h3>

        <% if !current_user.nil? && current_user.role?(:contributor) %>
          <% if !current_user.is_mentor? %>  
            <p>You are currently not a mentor. Create a profile!</p>
          <% end %> 
        <% end %>

        <% mentees = @mentees %>

        <% if mentees.empty? %> 
          <p>Currently no mentees in the system.</p>
        <% else %> 
          <font size="2">
          <table class="responsive-table; striped"> 
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Current role</th>
                <th>Mentor role</th>
                <th>Skill 1</th>
                <th>Skill 2</th>
                <th>Skill 3</th>
                <th>Years in field</th>
                <th>Lead team</th>
                <th>Mentor gender</th>
                <th>Comm frequency</th>
                <th>Bio</th>
                <th>In five years</th>
                <th>Is active</th>
              </tr>
            </thead>
              
            <tbody>
              <% mentees.each do |mentee| %>
                <tr>
                  <td><%= mentee.full_name %></td>
                  <td><%= mentee.current_role %></td>
                  <td><%= mentee.mentor_role %></td>
                  <td><%= mentee.skill_1 %></td>
                  <td><%= mentee.skill_2 %></td>
                  <td><%= mentee.skill_3 %></td>
                  <td><%= mentee.years_in_field %></td>
                  <td><%= mentee.lead_team == false ? "No" : "Yes" %></td>
                  <td><%= mentee.mentor_gender %></td>
                  <td><%= mentee.comm_frequency %></td>
                  <td><%= mentee.bio.empty? ? "N/A" : mentee.bio %>></td>
                  <td><%= mentee.in_five_years.empty? ? "N/A" : mentee.in_five_years %></td>
                  <td><%= mentee.is_active %></td>
                  <td><%= link_to 'Show', mentee %></td>

                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>