<span><b>Mentorship matches</b></span>
<hr>
<% matches = @mentee.get_matches %> 
<% if matches.nil? %> 
    <p>You currently have no mentor matches! Be patient, matches are more likely to appear when more appropriate mentors join the platform.</p> 
<% else %>
    <table>
        <thead>
            <tr>
                <th></th>
                <th class="large-font">Current Role</th>
                <th class="large-font">Mentor Role</th>
                <th class="large-font">Specialized Skills</th>
                <th class="large-font">Years in Field</th>
                <th class="large-font">Years in Lead</th>
                <th class="large-font">Gender</th>
                <th class="large-font">Communication Frequency</th>
                <th class="large-font">Bio</th>
                <th class="large-font">Motivation</th>
            </tr>
        </thead> 
        
        <tbody>
        <% matches.each do |match| %>
            <%# match %>
            <tr>
                <td><%= link_to 'Show', match[0] %></td>
                <td><%= match[0].current_role %></td>
                <td><%= match[0].mentor_roles %></td>
                <td><%= match[0].specialized_skills %></td>
                <td><%= match[0].years_in_field %></td>
                <td><%= match[0].years_in_lead %></td>
                <td><%= match[0].gender %></td>
                <td><%= match[0].comm_frequency %></td>
                <td><%= match[0].bio %></td>
                <td><%= match[0].motivation %></td>
                <td><%= link_to 'Request Mentor', mentorships_path(mentor_id: match[0].id, mentee_id: @mentee.id, state: 'pending'), method: :post %></td>
                </tr>
        <% end %>
        </tbody>
    </table>
<% end %>