<h4>Mentee Profile</h4>

<% unless User.find(@mentee.user_id).image_url.nil? %> 
  <p> 
    <%= image_tag User.find(@mentee.user_id).image_url, :class => "round", :size => "180x180" %> 
  </p>
<% end %>

<%# if !Mentor.for_user(current_user).first.id.nil? && Mentee.for_user(current_user).first != @mentee %>
<%# mentor = Mentor.for_user(current_user).first %>
<% if @mentee.user_id != current_user.id && (current_user.role?(:admin) || !Mentor.for_user(current_user).nil?) %>
  <div class="row">
    <div class="col s9">
      <div class="card">    
        <div class="card-content">
  <p id="notice"><%= notice %></p>
  
  <p>
    <h5>LinkedIn URL:</h5>
    <%= User.find(@mentee.user_id).linkedin_url %>
  </p>
  
  <p>
    <strong>Full Name:</strong>
    <%= @mentee.full_name %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @mentee.email.empty? ? "N/A" : @mentee.email %>
  </p>
  
  <p>
    <strong>Current role:</strong>
    <%= @mentee.current_role %>
  </p>
  
  <p>
    <strong>Mentor role:</strong>
    <%= @mentee.mentor_role %>
  </p>
  
  <p>
    <strong>Skill 1:</strong>
    <%= @mentee.skill_1 %>
  </p>
  
  <p>
    <strong>Skill 2:</strong>
    <%= @mentee.skill_2 %>
  </p>
  
  <p>
    <strong>Skill 3:</strong>
    <%= @mentee.skill_3 %>
  </p>
  
  <p>
    <strong>Years in field:</strong>
    <%= @mentee.years_in_field %>
  </p>
  
  <p>
    <strong>Lead team:</strong>
    <%= @mentee.lead_team == false ? "No" : "Yes" %>
  </p>
  
  <p>
    <strong>Mentor gender:</strong>
    <%= @mentee.mentor_gender %>
  </p>
  
  <p>
    <strong>Comm frequency:</strong>
    <%= @mentee.comm_frequency %>
  </p>
  
  <p>
    <strong>Bio:</strong>
    <%= @mentee.bio.empty? ? "N/A" : @mentee.bio %>
  </p>
  
  <p>
    <strong>In five years:</strong>
    <%= @mentee.in_five_years.empty? ? "N/A" : @mentee.in_five_years %>
  </p>
  
  </div>
  </div>
  <% if !Mentor.for_user(current_user).nil? %>
    <% mentor = Mentor.for_user(current_user).first %>
    <% if Mentorship.where(mentor_id: mentor.id, mentee_id: @mentee.id).empty? %>
      <%= link_to 'Accept Mentee', edit_mentorship_path, :class => "btn-large waves-effect waves-light light-blue" %> 
      <%= link_to 'Back', mentor_requests_path(mentor), :class => "btn-large waves-effect waves-light grey" %>
    <% else %>
      <%= link_to 'Back', mentorships_path, :class => "btn-large waves-effect waves-light grey" %>
    <% end %>
  <% else %>
    <%= link_to 'Back', mentorships_path, :class => "btn-large waves-effect waves-light grey" %>
  <% end %>

  </div>
  </div>
  
<% else %>

  <div class="row">
    <div class="col s9">
      <div class="card">    
        <div class="card-content">
  <p id="notice"><%= notice %></p>
  
  <p>
    <h5>LinkedIn URL:</h5>
    <%= User.find(@mentee.user_id).linkedin_url %>
  </p>
  
  <p>
    <strong>Full Name:</strong>
    <%= @mentee.full_name %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @mentee.email %>
  </p>
  
  <p>
    <strong>Current role:</strong>
    <%= @mentee.current_role %>
  </p>
  
  <p>
    <strong>Mentor role:</strong>
    <%= @mentee.mentor_role %>
  </p>
  
  <p>
    <strong>Skill 1:</strong>
    <%= @mentee.skill_1 %>
  </p>
  
  <p>
    <strong>Skill 2:</strong>
    <%= @mentee.skill_2 %>
  </p>
  
  <p>
    <strong>Skill 3:</strong>
    <%= @mentee.skill_3 %>
  </p>
  
  <p>
    <strong>Years in field:</strong>
    <%= @mentee.years_in_field %>
  </p>
  
  <p>
    <strong>Lead team:</strong>
    <%= @mentee.lead_team %>
  </p>
  
  <p>
    <strong>Mentor gender:</strong>
    <%= @mentee.mentor_gender %>
  </p>
  
  <p>
    <strong>Comm frequency:</strong>
    <%= @mentee.comm_frequency %>
  </p>
  
  <p>
    <strong>Bio:</strong>
    <%= @mentee.bio %>
  </p>
  
  <p>
    <strong>In five years:</strong>
    <%= @mentee.in_five_years %>
  </p>
  
  <p>
    <strong>Is active:</strong>
    <%= @mentee.is_active %>
  </p>
  
  </div>
  </div>
  
  <%= link_to 'Edit', edit_mentee_path(@mentee), :class => "btn-large waves-effect waves-light light-blue" %> 
  <% if current_user.role?(:admin) %>
    <%= link_to 'Back', mentees_path, :class => "btn-large waves-effect waves-light grey" %>
  <% else %>
    <%= link_to 'Back', mentorships_path, :class => "btn-large waves-effect waves-light grey" %>
  <% end %>
  
  </div>
  </div>
<% end %>
