<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <% if current_user.code_of_conduct && !current_user.is_mentee? && !current_user.is_mentor? %>
        <li><%= link_to 'Get Started', home_path %></li>
      <% end %> 
      
      <% if current_user.role?(:admin) %>
        <li><%= link_to 'Users', users_path %></li> 
        <li><%= link_to 'Mentors', mentors_path %></li>
        <li><%= link_to 'Mentees', mentees_path %></li>
      <% end %>
      <% if (current_user.is_mentor?) || (current_user.is_mentee?) %>
      <li><%= link_to 'Mentorships', mentorships_path %></li>
        <% end %>
      <% if current_user.is_mentee? %>
        <% mentee = Mentee.for_user(current_user.id).first.id %>
        <li><%= link_to 'Matches', mentee_matches_path(mentee) %></li>
      <% end %>
      <% if current_user.is_mentor? %>
        <% mentor = Mentor.for_user(current_user.id).first.id %>
        <li><%= link_to 'Requests', mentor_requests_path(mentor) %></li>
      <% end %>
      <li><%= link_to 'My Account', account_path(current_user.id) %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
  </div>
</nav>