<%= form_with(model: @user, local: true) do |f| %>
	<% if @user.errors.any? %>

        <br>
    
        <div id="error_explanation">
          <h4><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</h4>
    
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li style="color: red"><%= msg %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <br>
    
    <h4>Account Information</h4>
    
  <div class="card">    
  <div class="card-content">
    <%= simple_form_for(@mentor) do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="form-inputs">
          
          <%# f.input :role, collection: Mentor::ROLE, include_blank: true %>
          <!--matching algo fields -->          
          <%#= f.input :current_role, :as => :check_boxes, collection: Mentor::BACKGROUND, :label => '1. What is your background?  Check all that apply.' %>
           <%= f.input :first_name %> 
                <%= f.input :last_name %> 
                <%= f.input :email %>
                <%= f.input :linkedin_url %> 
                <%= f.input :location %> 
                <br>CODE OF CONDUCT</br>
                <p>In order to maintain a healthy and safe mentorship environment,
                all members must agree to all terms in the code of conduct.</p>
                <p>Do you agree to follow these rules?</p>
                <%= f.label :code_of_conduct, 'Agree to Code of Conduct' %> 
                <%= f.input_field :code_of_conduct, as: :boolean, boolean_style: :inline %>
                <%= f.hidden_field :active, value: true %>
                <%= f.hidden_field :is_new, value: true %>

          <div class="form-actions col s7">
            <%= f.button :submit %>
          </div>


      </div>
    </div>
  </div>
</div>
</br>
</br>
<% end %>







