<div class="imgimg">
<%= image_tag("bg.jpeg", :alt => "rss feed")%>
</div>
<div class="row">  
  <div class="center">

    <div class="card">


      <div class="card-content">
         <h4>Account Information for <%= @user.first_name %></h4><br />
    
    <b>Profile Photo:&nbsp;&nbsp;</b>
    <% unless @user.image_url.nil? %> 
      <p> 
        <%= image_tag @user.image_url, :class => "round", :size => "180x180" %> 
      </p>
    <% end %>
    
    <b>Full Name:&nbsp;&nbsp;</b>
      <%= @user.first_name%> <%= @user.last_name %><br /><br />

    <p><b>Agreed to Code of Conduct?</b>
      <%= @user.code_of_conduct %>
    </p>
      
     <%= link_to 'Edit', create_profile_path(@user), :class => "btn-large waves-effect waves-light red" %>
    
    <% if !current_user.nil? %>
      <p align="center">
        <br>

        <%= link_to "Change Password", change_password_path(@user), :class => "btn-large waves-effect waves-light red" %>

<p>
  <strong>Full Name:</strong>
  <%= @mentor.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mentor.email %>
</p>

<p>
  <strong>Current role:</strong>
  <%= @mentor.current_role %>
</p>

<p>
  <strong>Mentor role:</strong>
  <%= @mentor.mentor_roles %>
</p>

<p>
  <strong>Specialized skills:</strong>
  <%= @mentor.specialized_skills %>
</p>

<p>

<p>
  <strong>Years in field:</strong>
  <%= @mentor.years_in_field %>
</p>

<p>
  <strong>Years in Lead:</strong>
  <%= @mentor.years_in_lead %>
</p>

<p>
  <strong>Mentor gender:</strong>
  <%= @mentor.gender %>
</p>

<p>
  <strong>Comm frequency:</strong>
  <%= @mentor.comm_frequency %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @mentor.bio %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @mentor.motivation %>

      </p>
    <% end %>
      </div>
    </div>
  </div>
</div>





