<div class="imgimg">
<%= image_tag("bg.jpeg", :alt => "rss feed")%>
</div>
<div class="row">
<div class="center">
<div class="col s12 center">

<div class="card">
<div class="card-content">
<h5>Account Information for <%= @user.first_name %></h5><br />
    
    <b>Profile Photo:&nbsp;&nbsp;</b>
    <% unless @user.image_url.nil? %> 
      <p> 
        <%= image_tag @user.image_url, :class => "round", :size => "180x180" %> 
      </p>
    <% end %>
    <br/>
    
    <% if @user.username %>
      <b>Username:&nbsp;&nbsp;</b>
      <%= @user.username %><br />
    <% end %>
      
    <b>Full Name:&nbsp;&nbsp;</b>
      <%= @user.first_name%> <%= @user.last_name %><br />

    <b>Email:&nbsp;&nbsp;</b>
      <%= @user.email %><br />
    
    <b>LinkedIn URL:&nbsp;&nbsp;</b>
      <% if !@user.url.blank? %>
        <%= @user.url %><br/>
      <% else %>
        <%= "N/A" %><br/>
      <% end %>
      
    <b>Location:&nbsp;&nbsp;</b>
      <% if !@user.location.blank? %>
        <%= @user.location %><br/>
      <% else %>
        <%= "N/A" %><br/>
      <% end %>

    <%= link_to 'Edit Account', edit_user_path(@user),:class => "btn-large waves-effect waves-light red" %>
    <% if @user.username.nil? %>
      <%= link_to 'Setup username and password', setup_account_path, :class => "btn-large waves-effect waves-light red"%>
    <% end %>



</div>
</div>
</div>

<div class="col s6">
<div class="card">
<div class="card-content">
<p id="notice"><%= notice %></p>
<h5> Your Mentee Profile </h5>
<p>
  <strong>Full Name:</strong>
  <%= @mentee.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mentee.email %>
</p>

<p>
  <strong>Current role:</strong>
  <%= @mentee.current_role %>
</p>

<p>
  <strong>Mentor role:</strong>
  <%= @mentee.mentor_role %>
</p>

<p>
  <strong>Skill 1:</strong>
  <%= @mentee.skill_1 %>
</p>

<p>
  <strong>Skill 2:</strong>
  <%= @mentee.skill_2 %>
</p>

<p>
  <strong>Skill 3:</strong>
  <%= @mentee.skill_3 %>
</p>

<p>
  <strong>Years in field:</strong>
  <%= @mentee.years_in_field %>
</p>

<p>
  <strong>Lead team:</strong>
  <%= @mentee.lead_team %>
</p>

<p>
  <strong>Mentor gender:</strong>
  <%= @mentee.mentor_gender %>
</p>

<p>
  <strong>Comm frequency:</strong>
  <%= @mentee.comm_frequency %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @mentee.bio %>
</p>

<p>
  <strong>In five years:</strong>
  <%= @mentee.in_five_years %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @mentee.is_active %>
</p>

<%= link_to 'Edit', edit_mentee_path(@mentee),:class => "btn-large waves-effect waves-light red" %> 


</div>
</div>
</div>
<div class="col s6">
<div class="card">
<div class="card-content">
<p id="notice"><%= notice %></p>
<h5> Your Mentor Profile </h5>
<p>
  <strong>Full Name:</strong>
  <%= @mentor.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mentor.email %>
</p>

<p>
  <strong>Current role:</strong>
  <%= @mentor.current_role %>
</p>

<p>
  <strong>Mentor role:</strong>
  <%= @mentor.mentor_roles %>
</p>

<p>
  <strong>Specialized skills:</strong>
  <%= @mentor.specialized_skills%>
</p>

<p>
<% @mentor.specialized_skills.each do |s| %> 
        <%= s.first %>
              <% end %>

<p>

<p>
  <strong>Years in field:</strong>
  <%= @mentor.years_in_field %>
</p>

<p>
  <strong>Years in Lead:</strong>
  <%= @mentor.years_in_lead %>
</p>

<p>
  <strong>Mentor gender:</strong>
  <%= @mentor.gender %>
</p>

<p>
  <strong>Comm frequency:</strong>
  <%= @mentor.comm_frequency %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @mentor.bio %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @mentor.motivation %>
</p>
    <%= link_to 'Edit', edit_mentor_path(@mentor), :class => "btn-large waves-effect waves-light red" %> 


</div>
</div>
</div>
</div>
</div>



