  <div class="row">
  <div class="center">
    <div class="card">    
      <div class="card-content">
    <h3>Account Information for <%= @user.first_name %></h3><br />
    
    <b>Profile Photo:&nbsp;&nbsp;</b>
    <% unless @user.image_url.nil? %> 
      <p> 
        <%= image_tag @user.image_url, :class => "round", :size => "180x180" %> 
      </p>
    <% end %>
    
    <b>Full Name:&nbsp;&nbsp;</b>
      <%= @user.first_name%> <%= @user.last_name %><br /><br />

    <p><b>Agreed to Code of Conduct?</b>
      <%= @user.code_of_conduct %>
    </p>
      
    <%= link_to 'Edit', create_profile_path(@user) %>
    
    <% if !current_user.nil? %>
      <p align="center">
        <br><a <%= link_to 'Change Password', change_password_path(@user) %> </a>
        <a class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Edit</a>

      </p>
    <% end %>
  </div>
</div>
</div>
</div>