<% if @user.is_new %>
  <h1>Verifying Account</h1>
<% else %>
  <h1>Editing Account</h1>
<% end %>
<div class="card">    
    <div class="card-content">
      <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="form-inputs">
            <%= f.input :first_name %> 
            <%= f.input :last_name %> 
            <%= f.input :email %>
            <%= f.input :linkedin_url %> 
            <%= f.input :location %> 
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <% if @user.code_of_conduct == false %>
              <br>CODE OF CONDUCT</br>
              <p>In order to maintain a healthy and safe mentorship environment,
              all members must agree to all terms in the code of conduct.</p>
              <p>Do you agree to follow these rules?</p>
              <%= f.input :code_of_conduct%>
            <% end %>
            <%= f.hidden_field :active, value: false %>
            <%#= f.hidden_field :is_new, value: false %>
          </div>
        </div>

        <div class="row">
          <div class="form-actions col s7">
            <%= f.button :submit, :value => "Create Account"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
