<% if current_user.active.nil? or current_user.active != true %>
  <div class="card">    
    <div class="card-content">
      <p>Almost there! Verify your information</p>
      <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="form-inputs">
            <%= f.input :first_name %> 
            <%= f.input :last_name %> 
            <%= f.input :email %>
            <%= f.input :linkedin_url %> 
            <%= f.input :location %> 
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br>CODE OF CONDUCT</br>
            <p>In order to maintain a healthy and safe mentorship environment,
            all members must agree to all terms in the code of conduct.</p>
            <p>Do you agree to follow these rules?</p>
            <%= f.input :code_of_conduct%>
            <%#= f.input_field :code_of_conduct, as: :boolean, boolean_style: :inline %>
            <%= f.hidden_field :active, value: true %>
            <%= f.hidden_field :is_new, value: true %>
          </div>
        </div>

        <div class="row">
          <div class="form-actions col s7">
            <%= f.button :submit, :value => "Create Account"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  redirect_to home_path 
<% end %>
