<div class="imgimg">
<%= image_tag("bg.jpg", :alt => "rss feed")%>
</div>

<div class="row">  

  <h4>Welcome to RedChairPGH Mentorship</h4> 

  <div class="col s8">

    <div class="card">

      <div class="card-content">
        <p>RedChairPGH was formed in 2015 as a grassroots effort in response to 
        troubling statistics in the tech workforce that showed a declining
        participation rate for women in computer science; from a peak of 37% in 
        1984 to less than 20% in 2011.  In November of 2015, with the support 
        from the University of Pittsburgh, we hosted a #sitwithme event to raise
        awareness of this disparity in Pittsburgh. For the first time, 
        Pittsburgh technology professionals and executives came together to 
        start the conversation and begin closing the gender gap. After another 
        successful event in 2016, we established a formal Board of Directors in 
        2017 and contracted with FortyX80 as our fiscal sponsor. The Board chose
        to focus on mid-career women in tech, as statistics show that women 
        leave tech careers in mid-career at twice the rate of men. We believe we
        can make a positive impact through awareness and programming. We chose 
        to collaborate with other groups because we believe through synergy we 
        can multiply passion and energy.  We are overwhelmed by the support from
        the Pittsburgh community and envision a future where our hometown can 
        thrive by being best in class for Diversity in Tech.
        </p>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="center">
    <br>
    <br>
    <br>
    <br>
    <% if logged_in? && current_user.active %>
      <div class="card">
        <div class="card-content">
          <% if !current_user.is_mentor? %>
            <%= link_to "Become a Mentor", new_mentor_path, :class => "btn-large waves-effect waves-light red" %><br><br><br>
          <% else %>
            <%= link_to "Check your mentee requests", mentorships_path, :class => "btn-large waves-effect waves-light red" %>
          <% end %>
          </br></br>
          <% if !current_user.is_mentee? %>
            <%= link_to "Become a Mentee", new_mentee_path, :class => "btn-large waves-effect waves-light red" %>
          <% else %>
            <%= link_to "Check your mentor matches", mentorships_path, :class => "btn-large waves-effect waves-light red" %>
          <% end %> 
          <% if current_user.is_mentor? && current_user.is_mentee? %>
            <%= link_to "Check updates in your mentorship network", mentorships_path, :class => "btn-large waves-effect waves-light blue" %>
          <% end %>
        </div>
      </div>
   <% elsif !current_user.nil? && !current_user.active %>
      <div class="card">
        <div class="card-content">
          <h4>Unfortunately, your account has been deactivated.</h4>
        </div>
      </div>
   <% end %>
    </div>
  </div>
</div>
