<div class="row" style="width:73rem; border-left:0px">
  <div class="center">
    <div class="card">    
      <div class="card-content">
        <p id="notice"><%= notice %></p>

        <h3>Mentors</h3>

        <% if !current_user.nil? && current_user.role?(:contributor) %>
          <% if !current_user.is_mentee? %>  
            <p>You are currently not a mentor. Create a profile!</p>
          <% end %>
        <% end %>

        <% mentors = @mentors %>

        <% if mentors.empty? %> 
          <p>Currently no mentors in the system.</p>
        <% else %> 
            <font size="2">
            <table class="striped"> 
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Current role</th>
                  <th>Mentor roles</th>
                  <th>Specialized skills</th>
                  <th>Years in field</th>
                  <th>Years in lead</th>
                  <th>Gender</th>
                  <th>Comm frequency</th>
                  <th>Bio</th>
                  <th>Motivation</th>
                  <th>Is active</th>
                </tr>
              </thead>
              <tbody>
                <% mentors.each do |mentor| %>
                  <tr>
                    <td><%= User.find(mentor.user_id).name %></td>
                    <td><%= mentor.current_role[5...-1] %></td>
                    <td><%= mentor.mentor_roles[5...-1] %></td>
                    <td><%= mentor.specialized_skills[5...-1] %></td>
                    <td><%= mentor.years_in_field %></td>
                    <td><%= mentor.years_in_lead %></td>
                    <td><%= mentor.gender %></td>
                    <td><%= mentor.comm_frequency %></td>
                    <td><%= if mentor.bio.empty? then "N/A" else mentor.bio end %></td>
                    <td><%= if mentor.motivation.empty? then "N/A" else mentor.motivation end %></td>
                    <td><%= mentor.is_active %></td>
                    <td><%= link_to 'Show', mentor %></td>
    
                  </tr>
                <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
    </div>
  </div>
</div>