<div class="card">    
  <div class="card-content">
    <%= simple_form_for(@mentor) do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="form-inputs">
          
          <%= f.input :role, collection: Mentor::ROLE, include_blank: true %>
          <%= f.input :curr_role, collection: Mentor::CURR_ROLE, include_blank: true %>
          <%= f.input :impact, collection: Mentor::IMPACT, include_blank: true %>
          <%= f.input :impact, gender: Mentor::GENDER, include_blank: true %>
          <%= f.input :impact, communication_frequency: Mentor::COMMUNICATION_FREQ, include_blank: true %>
          <%= f.input :impact, experience: Mentor::EXPERIENCE, include_blank: true %>
          <%= f.input :team_lead %>
          <%= f.input :motivation, text_field_tag: { class: 'active' } %>
          <%= f.input :bio, text_field_tag: { class: 'active' } %>


      </div>
    </div>
  </div>
</div>
  
  <div class="row">
    <div class="form-actions col s7">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
