<div class="imgimg">
<%= image_tag("bg.jpeg", :alt => "rss feed")%>
</div>
<div class="row">
  <div class="col s9">
    <div class="card">    
      <div class="card-content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Full Name:</strong>
  <%= @mentor.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mentor.email %>
</p>

<p>
  <strong>Current role:</strong>
  <%= @mentor.current_role %>
</p>

<p>
  <strong>Mentor role:</strong>
  <%= @mentor.mentor_roles %>
</p>

<p>
  <strong>Specialized skills:</strong>
  <%= @mentor.specialized_skills %>
</p>

<p>

<p>
  <strong>Years in field:</strong>
  <%= @mentor.years_in_field %>
</p>

<p>
  <strong>Years in Lead:</strong>
  <%= @mentor.years_in_lead %>
</p>

<p>
  <strong>Mentor gender:</strong>
  <%= @mentor.gender %>
</p>

<p>
  <strong>Comm frequency:</strong>
  <%= @mentor.comm_frequency %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @mentor.bio %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @mentor.motivation %>
</p>
</div>
</div>
</div>
</div>

<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>