</br>
<h5>Mentorship Network</h5>

<div class="row">
    <div class="center">
      <div class="card">    
        <div class="card-content">
            <h5>Active Mentorships</h5>    
            <% if @active_mentorships.nil? || @active_mentorships.empty? %>
                <h6>There are currently no current (active) mentorships in the system at this time.</h6>
            <% else %> 
                <table> 
                    <thead> 
                        <th>Mentor</th>
                        <th>Mentee</th>
                        <th>Status</th>
                    </thead>
                    <% for mentorship in @active_mentorships %> 
                        <tr>
                            <td><%= mentorship.mentor_id %></td>
                            <td><%= mentorship.mentee_id %></td> 
                            <td><%= mentorship.status %></td>
                        </tr>
                    <% end %> 
                </table>
            <% end %>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="center">
      <div class="card">    
        <div class="card-content">
            <h5>Past Mentorships</h5>     
            <% if @removed_mentorships.nil? || @removed_mentorships.empty? %> 
                <h6>There are currently no past (removed) mentorships in the system.</h6>
            <% else %>
                <table> 
                    <thead> 
                        <th>Mentor</th>
                        <th>Mentee</th>
                        <th>Status</th>
                    </thead>
                    <% for mentorship in @removed_mentorships %> 
                        <tr>
                            <td><%= mentorship.mentor_id %></td>
                            <td><%= mentorship.mentee_id %></td> 
                            <td><%= mentorship.status %></td>
                        </tr>
                    <% end %> 
                </table>
            <% end %>
        </div>
      </div>
    </div>
</div>