<span><b>Mentorship Requests</b></span>
<hr>
<% requests = mentor.get_requests %> 
<% if requests.empty? %> 
    <p>You currently have no mentor requests! Be patient, requests are more likely to appear when more appropriate mentees join the platform.</p> 
<% else %>
    <table>
        <thead>
            <tr>
                <th></th>
                <th class="large-font">Current Role</th>
                <th class="large-font">Mentor Role</th>
                <th class="large-font">Skill 1</th>
                <th class="large-font">Skill 2</th>
                <th class="large-font">Skill 3</th>
                <th class="large-font">Years in Field</th>
                <th class="large-font">Lead Team?</th>
                <th class="large-font">Preferred Gender</th>
                <th class="large-font">Communication Frequency</th>
                <th class="large-font">Bio</th>
                <th class="large-font">5-Year Goals</th>
            </tr>
        </thead> 
        
        <tbody>
        <% requests.each do |request| %>
            <% mentee = Mentee.find(request.mentee_id) %>
            <% puts "MENTEEEEEEEEEEEEEEEEE" %>
            <% puts mentee %>
            <tr>
                <td><%= link_to 'Show', mentee %></td>
                <td><%= mentee.current_role %></td>
                <td><%= mentee.mentor_role %></td>
                <td><%= mentee.skill_1 %></td>
                <td><%= mentee.skill_2 %></td>
                <td><%= mentee.skill_3 %></td>
                <td><%= mentee.years_in_field %></td>
                <td><%= mentee.lead_team %></td>
                <td><%= mentee.mentor_gender %></td>
                <td><%= mentee.comm_frequency %></td>
                <td><%= mentee.bio %></td>
                <td><%= mentee.in_five_years %></td>
                <td><%= link_to 'Accept Mentee', edit_mentorship_path %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>

  