</br>
<h5>Your Mentorship Network</h5>

<div class="row">
    <div>
      <div class="card">    
        <div class="card-content">
            <% if @mentor %>
                <div class="center"><h5>Mentees</h5></div>
                <h5><i>Current</i></h5>
                <% if @mentor_mentorships.nil? | @mentor_mentorships.active.nil? | @mentor_mentorships.active.empty? %>
                    <h6><i>You currently do not have any mentees.</i></h6>
                <% else %>
                    <table> 
                        <thead> 
                            <th></th>
                            <th>Mentee</th>
                            <th>LinkedIn</th>
                            <th>Start Date</th>
                            <th>Duration (days)</th>
                            <th>Status</th>
                        </thead>
                        <% for mentorship in @mentor_mentorships.active %> 
                            <tr>
                                <td><% unless User.find(Mentee.find(mentorship.mentee_id).user_id).image_url.nil? %> 
                                    <%= image_tag User.find(Mentee.find(mentorship.mentee_id).user_id).image_url, :class => "round", :size => "70x70" %> 
                                <% end %></td>
                                <td><strong><%= link_to Mentee.find(mentorship.mentee_id).full_name, mentee_path(mentorship.mentee_id) %></strong></td> 
<<<<<<< HEAD
                                <td><%= User.find(Mentee.find(mentorship.mentee_id).user_id).linkedin_url %></td>
=======
                                <td><%= link_to User.find(Mentee.find(mentorship.mentee_id).user_id).url %></td>
>>>>>>> 6567c047ff12331ba8b29111069737454eaa7e99
                                <td><%= mentorship.updated_at.strftime("%m/%d/%y") %> </td>
                                <td><%= (DateTime.now.to_date - mentorship.created_at.to_date).to_i %></td> 
                                <td><%= mentorship.status == 'active' ? "Active" : "Removed" %></td>
                                <td></td>
                                <td><%= link_to 'Remove', edit_mentorship_path(mentorship), :class => "btn-large waves-effect waves-light grey" %></td>
                            </tr>
                        <% end %> 
                    </table>
                <% end %>
                </br></br>
                <% if !@mentor_mentorships.removed.empty? %>
                    <h5><i>Past</i></h5>
                    <table class> 
                        <thead> 
                            <th>Mentee</th>
                            <th>Duration (days)</th>
                            <th>Status</th>
                        </thead>
                        <% for mentorship in @mentor_mentorships.removed %> 
                            <tr>
                                <td><strong><%= Mentee.find(mentorship.mentee_id).full_name %></strong></td> 
                                <td><%= (mentorship.updated_at.to_date - mentorship.created_at.to_date).to_i %></td>
                                <td><%= mentorship.status == 'active' ? "Active" : "Removed" %></td>
                            </tr>
                        <% end %> 
                    </table>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div>
      <div class="card">    
        <div class="card-content">
            <% if @mentee %>
                <div class="center"><h5>Mentors</h5></div>
                <h5><i>Current</i></h5>
                <% if @mentee_mentorships.nil? | @mentee_mentorships.active.nil? | @mentee_mentorships.active.empty? %>
                    <h6><i>You currently do not have any mentors.</i></h6>
                <% else %>
                    <table> 
                        <thead> 
                            <th></th>
                            <th>Mentor</th>
                            <th>LinkedIn</th>
                            <th>Start Date</th>
                            <th>Duration (days)</th>
                            <th>Status</th>
                        </thead>
                        <% for mentorship in @mentee_mentorships.active %> 
                            <tr>
                                <td><% unless User.find(Mentor.find(mentorship.mentor_id).user_id).image_url.nil? %>
                                    <%= image_tag User.find(Mentor.find(mentorship.mentor_id).user_id).image_url, :class => "round", :size => "70x70" %> 
                                <% end %></td>
                                <td><strong><%= link_to Mentor.find(mentorship.mentor_id).full_name, mentor_path(mentorship.mentor_id) %></strong></td>
                                <td><%= link_to User.find(Mentor.find(mentorship.mentor_id).user_id).linkedin_url %></td>
                                <td><%= mentorship.updated_at.strftime("%m/%d/%y") %> </td>
                                <td><%= (DateTime.now.to_date - mentorship.updated_at.to_date).to_i %></td> 
                                <td><%= mentorship.status == 'active' ? "Active" : "Removed" %></td>
                                <td></td>
                                <td><%= link_to 'Remove', edit_mentorship_path(mentorship), :class => "btn-large waves-effect waves-light grey" %></td>
                            </tr>
                        <% end %> 
                    </table>
                <% end %>
                </br></br>
                <% if !@mentee_mentorships.removed.empty? %>
                   <h5><i>Past</i></h5> 
                    <table> 
                        <thead> 
                            <th>Mentor</th>
                            <th>Duration (days)</th>
                            <th>Status</th>
                        </thead>
                        <% for mentorship in @mentee_mentorships.removed %> 
                            <tr>
                                <td><strong><%= Mentor.find(mentorship.mentor_id).full_name %></strong></td>
                                <td><%= (mentorship.updated_at.to_date - mentorship.created_at.to_date).to_i %></td> 
                                <td><%= mentorship.status == 'active' ? "Active" : "Removed" %></td>
                            </tr>
                        <% end %> 
                    </table>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>
</div>