<div class="row">
    <div class="center">
      <div class="card">    
        <div class="card-content">
<% if @active_mentorships.nil? || @active_mentorships.empty? %> 
    <% if current_user.role?(:admin) %>
        <h6>There are currently no active mentorships in the system at this time.</h6>
    <% elsif current_user.role?(:contributor) %> 
        <br>
        <h6>You currently have no active mentorships.</h6>
    <% end %>
<% else %>
    <h4>Active Mentorships</h4>
    <table class = "left"> 
        <thead> 
            <th>Mentor</th>
            <th>Mentee</th>
            <th>Status</th>
        </thead>
        <% for mentorship in @active_mentorships %> 
            <tr>
                <td><%= mentorship.mentor_id %></td>
                <td><%= mentorship.mentee_id %></td> 
                <td><%= mentorship.status %></td>
            </tr>
        <% end %> 
    </table>
<% end %>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="center">
      <div class="card">    
        <div class="card-content">
<% if @inactive_mentorships.nil? || @inactive_mentorships.empty? %> 
    <% if current_user.role?(:admin) %>
        <h6>There are currently no inactive mentorships in the system at this time.</h6>
    <% elsif current_user.role?(:contributor) %> 
        <br>
        <h6>You currently have no inactive mentorships.</h6>
    <% end %>
<% else %>
    <h4>Inactive Mentorships</h4>
    <table class = "left"> 
        <thead> 
            <th>Mentor</th>
            <th>Mentee</th>
            <th>Status</th>
        </thead>
        <% for mentorship in @inactive_mentorships %> 
            <tr>
                <td><%= mentorship.mentor_id %></td>
                <td><%= mentorship.mentee_id %></td> 
                <td><%= mentorship.status %></td>
            </tr>
        <% end %> 
    </table>
<% end %>
        </div>
      </div>
    </div>
</div>